SECRET_KEY=your_secret_key
DEBUG=your_debug
BOT_TOKEN=your_bot_token
TELEGRAM_CHAT_ID=your_chat_id
CELERY_BROKER_URL=your_url
STRIPE_SECRET_KEY=your_secret_key
POSTGRES_DB=library
POSTGRES_USER=<your_user>
POSTGRES_PASSWORD=<your_password>
POSTGRES_HOST=localhost
POSTGRES_PORT=5432